
/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 56px);
  background-image: url(../img/header/mori.jpg);
  background-size: cover;
}

.logo {
  text-align: center;
  color: #ffffff;
}

.logo-name {
  font-family: "Amatic SC", cursive;
  font-size: 32px;
  line-height: 1;
  display: block;
  margin-bottom: 5px;
  text-align: center;
  color: #ffffff;
}

.logo-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 88px;
  font-weight: normal;
  line-height: 1;
  display: block;
  letter-spacing: .1em;
  color: #ffffff;
}

.logo-text {
  font-size: 14px;
  display: block;
  margin-top: 10px;
  text-align: center;
  letter-spacing: .2em;
}

/* レイアウト */
.section {
  padding: 80px 0;
}