
/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 40px);
  width:100%;
  background-image: url(../img/header/logo.png);
  background-size: cover;
}

.logo {
  text-align: center;
  color: #ffffff;
}

.logo-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 88px;
  font-weight: normal;
  line-height: 1;
  display: block;
  letter-spacing: .1em;
  color: #ffffff;
}

.logo-text {
  font-size: 22px;
  display: block;
  margin-top: 10px;
  text-align: center;
  letter-spacing: .2em;
}

/* ナビバー */
/* iOS対策 */
/* .ios .gnav-link:hover {
  opacity: 1;
} */
.nav-text {
  font-size:16px;
}

.nav-home {
  display: block;
  text-decoration: none;
  width:24px;
  height:24px;
  text-align: center;
}

.nav-parts {
  display: block;
  text-decoration: none;
  width:22%;
  text-align: center;
}

/* レイアウト */
.section {
  padding: 80px 0;
  height:880px;
}
.section-info {
  padding: 80px 0;
  height:1200px;
}


/* フッター */
.footer {
  background-color: #229922 !important;
}

.footer .inner {
  padding: 30px;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #ffffff;
}

.page-top {
  font-size: 12px;
  font-weight: bold;
  display: block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #aaffcc !important;
}

@media screen and (max-width: 767px) {
  /* ヘッダー */
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 38px);
    width:100%;
    /* background-image: url(../img/header/mori.jpg); */
    background-color: #229922;
    background-size: cover;
  }

  .logo-title {
    font-family: "Cormorant Garamond", serif;
    font-size: 25px;
    font-weight: normal;
    line-height: 1;
    display: block;
    letter-spacing: .1em;
    color: #ffffff;
  }
  
  .logo-text {
    font-size: 18px;
    display: block;
    margin-top: 10px;
    text-align: center;
    letter-spacing: .2em;
  }

  .nav-home {
    display: block;
    text-decoration: none;
    width:22px;
    height:22px;
    text-align: center;
  }

  .nav-text {
    font-size:11.5px;
  }
}